<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wyfdc.go.transaction.demo.mapper.AccountMapper">

  <select id="getAccountByUserId"
    resultType="com.wyfdc.go.transaction.demo.dto.Account"
    parameterType="String">
    SELECT id AS id,
           user_name AS userName,
           user_id AS userID,
           balance AS balance
       FROM test.account a
       where a.user_id=#{userID}
  </select>

  <update id="updateAccountBalance">
    update test.account a set a.balance = #{balance}
       where a.user_id=#{userID}
  </update>

  <insert id="saveAccount" parameterType="com.wyfdc.go.transaction.demo.dto.Account">
    INSERT INTO account(user_id,user_name,balance) VALUES (#{account.userID},#{account.userName},#{account.balance})
  </insert>

</mapper>
